<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <delivery>
                <active>1</active>
                <model>\Delivery\Shipox\Model\Carrier</model>
                <allowed_payment_type>cash</allowed_payment_type>
                <default_weight>0</default_weight>
                <title>Shipox</title>
                <alias>shipox</alias>
                <sort_order>10</sort_order>
                <base_country_id>229</base_country_id>
                <intcashondelivery>0</intcashondelivery>
                <specificcountry>229</specificcountry>
                <carrier_options>in_5_days</carrier_options>
                <is_international_available>false</is_international_available>
                <reordering>0</reordering>
                <is_create_shipment>1</is_create_shipment>
                <specificerrmsg>This shipping method is currently unavailable.If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </delivery>
        </carriers>
        <delivery_shipox>
            <messages>
                <cannot_cancel_order>Picked up shipments can't be cancelled. You need to contact the designated courier supplier to reject the delivery. These shipments will be returned to the shipper as per the schedule.</cannot_cancel_order>
            </messages>
            <auth>
                <token_time/>
                <jwt_token>eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJmdXJrYXRAd2luZy5hZSIsInVzZXJJZCI6MTM0MzIyMTI0LCJleHAiOjE1NjA5Njc3OTJ9.re5SpNh-8DBaU-XxtC3kOvWAMCwzSMI5fSuxAcyqT-ldPbOggM8AprB2Jb2P1EXNGZNO7XCtj0QPADqPy_sE3Q</jwt_token>
            </auth>
            <service>
                <sandbox_flag>0</sandbox_flag>
                <api_version>1</api_version>
                <title>Shipox</title>
                <site_url>https://shipox.com</site_url>
                <site_short_url>shipox.com</site_short_url>
            </service>
            <merchant>
                <pickup>1</pickup>
                <confirmed_by_recipient>1</confirmed_by_recipient>
                <lat_lon>25.046664,55.187498</lat_lon>
            </merchant>
        </delivery_shipox>
        <api>
            <myconfig>
                <live>https://prodapi.shipox.com</live>
                <staging>https://stagingapi.shipox.com</staging>
                <service>LOGISTICS</service>
            </myconfig>
            <geo>
                <url>https://maps.googleapis.com/maps/api/geocode/json?</url>
                <region>ae</region>
            </geo>
            <destination>
                <authenticate>/api/v1/customer/authenticate</authenticate>
                <country_list>/api/v1/country/list</country_list>
                <package_menu>/api/v2/package-menu</package_menu>
                <city_by_name>/api/v1/city_by_name</city_by_name>
                <packages_prices>/api/v1/packages/prices</packages_prices>
                <packages_prices_v2>/api/v2/packages/plugin/prices/</packages_prices_v2>
                <order>/api/v1/customer/order</order>
                <order_v2>/api/v2/customer/order</order_v2>
                <order_item>/api/v1/customer/order/order_number</order_item>
                <status_update>/api/v1/customer/order/{id}/status_update</status_update>
                <get_airwaybill>/api/v1/customer/order/{id}/airwaybill</get_airwaybill>
                <get_location_by_address>/api/v1/coordinate_by_address</get_location_by_address>
                <marketplace>/api/v1/marketplace</marketplace>
            </destination>
        </api>
        <tracking>
            <myconfig>
                <live_tracking_url>https://my.shipox.com/track?id=</live_tracking_url>
                <prelive_tracking_url>https://my-staging.shipox.com/track?id=</prelive_tracking_url>
                <path>/track/</path>
            </myconfig>
        </tracking>
    </default>
</config>